<mat-drawer-container class="example-container"
                      [hasBackdrop]="false"
                      autosize>
  <mat-drawer #drawer
              class="example-sidenav"
              mode="side"
              [opened]="true">
    <mat-toolbar color="primary">Tisza-tó</mat-toolbar>
    <div class="content">
      <h3>A képen elrejtettünk egy színes kristálygömböt. Az a különlegessége, hogy különböző magasságokból nézve képes
        megváltoztatni a színét. </h3>
      <h3>Milyen a színe a térkép betöltésekor?</h3>
    </div>
  </mat-drawer>
  <div class="example-sidenav-content">
    <div class="buttons">
      <button class="zoom-in"
              mat-mini-fab
              color="primary"
              (click)="zoomIn()">
        <mat-icon>add</mat-icon>
      </button>
      <button class="zoom-out"
              mat-mini-fab
              color="primary"
              (click)="zoomOut()">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
    <div [attr.id]="mapId"
         class="ol-map"></div>
  </div>
</mat-drawer-container>
